Plug 'machakann/vim-highlightedyank'

let mapleader=" "
set idearefactormode=keep
" =========================
" Window Management [c]
" =========================
function! SetupWindowMappings()
    nnoremap <leader><leader>t :action ActivateTerminalToolWindow<CR>
    nnoremap <leader><leader>l :action ActivateTODOToolWindow<CR>
    nnoremap <leader><leader>e :action ActivateProjectToolWindow<CR>
    nnoremap <leader><leader>d :action ActivateDebugToolWindow<CR>
    nnoremap <leader><leader>g :action ActivateCommitToolWindow<CR>
    nnoremap <leader><leader>x :action HideAllWindows<CR>
endfunction
call SetupWindowMappings()
" =========================
" Split Management
" =========================
function! SetupSplitMappings()
    nnoremap <leader>sv :action SplitVertically<CR>
    nnoremap <leader>sh :action SplitHorizontally<CR>
    nnoremap <leader>smv :action MoveTabRight<CR>
    nnoremap <leader>smh :action MoveTabDown<CR>
    nnoremap <leader>sog :action MoveEditorToOppositeTabGroup<CR>
    " Split Size change
    nnoremap <leader>ss :action MaximizeEditorInSplit<CR>
endfunction
call SetupSplitMappings()
" =========================
" JK for 20 up and down , space hjkl to move between windows
" =========================
function! SetupHJKLNavigation()
    " Move 20 lines down/up in normal mode
    nnoremap J 20j
    nnoremap K 20k
    vnoremap J 20j
    vnoremap K 20k
    " Split navigation using Space + h/l
    nnoremap <Space>h <C-w>h
    nnoremap <Space>j <C-w>j
    nnoremap <Space>k <C-w>k
    nnoremap <Space>l <C-w>l
endfunction
call SetupHJKLNavigation()
" =========================
" Bookmark Management
" =========================
function! SetupBookmarkMappings()
    nmap <leader>mm :action ToggleBookmark<CR>
    nmap <leader>ml :action ShowBookmarks<CR>
    nmap <leader>mf :action GotoNextBookmark<CR>
    nmap <leader>mb :action GotoPreviousBookmark<CR>
endfunction
call SetupBookmarkMappings()
" =========================
" Search and Navigation
" =========================
function! SetupSearchNavigation()
    " case insensitive for searches
    set ignorecase
    " Use f/F as quick search keys
    nmap f /
    nmap F ?
    " Enter → next match, Shift+Enter → previous match
    nnoremap <silent> <CR> n
    nnoremap <silent> <S-CR> N
    set incsearch
endfunction
call SetupSearchNavigation()
" =========================
" Code Navigation Mappings
" =========================
function! SetupGoToNavigation()
    nnoremap gd :action GotoDeclaration<CR>
    nnoremap gi :action GotoImplementation<CR>
    nnoremap ge :action GotoNextError<CR>
    nnoremap gE :action GotoPreviousError<CR>
    nnoremap gu :action FindUsages<CR>
    nnoremap gh :action QuickJavaDoc<CR>
    nnoremap gs :action GotoSuperMethod<CR>
    nnoremap gt :action GotoTypeDeclaration<CR>
    nnoremap gb :action Back<CR>
    nnoremap gf :action Forward<CR>
endfunction
call SetupGoToNavigation()
" =========================
" Find Navigation
" =========================
function! SetupFindNavigation()
    nnoremap <leader>ff :action! GotoFile<CR>
    nnoremap <leader>fg :action! FindInPath<CR>
    nnoremap <leader>fc :action! GoToClass<CR>
    nnoremap <leader>fs :action! GotoSymbol<CR>
    nnoremap <leader>fa :action! GotoAction<CR>
endfunction
call SetupFindNavigation()
" =========================
" Region Collapse / Expand
" =========================
function! SetupCollapseMappings()
    " Collapse / Expand regions
    nnoremap zc :action CollapseRegion<CR>
    nnoremap zo :action ExpandRegion<CR>
    " Collapse/expand all regions
    nnoremap <leader>zc :action CollapseAllRegions<CR>
    nnoremap <leader>zo :action ExpandAllRegions<CR>
    """ rerun
endfunction
call SetupCollapseMappings()
""" Running /Debugging
" =========================
" Run & Debug Mappings
" =========================
function! SetupRunDebugMappings()
    " Rerun last configuration
    nnoremap <leader>rr :action Rerun<CR>
    " Choose run configuration
    nnoremap <leader>rc :action ChooseRunConfiguration<CR>
    " Toggle line breakpoint
    nnoremap <leader>rb :action ToggleLineBreakpoint<CR>
    " Step over
    nnoremap <leader>ro :action StepOver<CR>
    " Step into
    nnoremap <leader>ri :action StepInto<CR>
    " Step out
    nnoremap <leader>ru :action StepOut<CR>
    " Continue
    nnoremap <leader>rc :action Resume<CR>
endfunction
call SetupRunDebugMappings()
" =========================
" Misc
" =========================
function! SetUpMisc()
    vnoremap < <gv
    vnoremap > >gv
    """ vscode - [code action,code prettier]
    nnoremap <leader>ca :action ShowIntentionActions<CR>
    nnoremap <leader>cp :action ReformatCode<CR>
endfunction
call SetUpMisc()
""=========================
 " IdeaVim Config Management
 " =========================
 function! SetupIdeaVimConfigMappings()
     nnoremap <leader><leader><leader><leader>i :e ~/.ideavimrc<CR>
     nnoremap <leader><leader><leader><leader>r :action IdeaVim.ReloadVimRc.reload<CR>
 endfunction
 call SetupIdeaVimConfigMappings()
