""" Editing and Reloading the Config
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" set clipboard+=unnamed
""" set clipboard+=ideaput
set NERDTree
set ideajoin
set idearefactormode=keep """ Stay in same mode when going into refactor
""" set number relativenumber

""" The Leader Key
let mapleader=" "
""" windows management 
nnoremap <leader>t :action ActivateTerminalToolWindow<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
nnoremap <leader>d :action ActivateDebugToolWindow<CR>
nnoremap <leader>g :action ActivateCommitToolWindow<CR>
nnoremap <leader>x :action HideAllWindows<CR>
""" Navigation
nnoremap <leader>ss :action MoveEditorToOppositeTabGroup<CR>
nnoremap <leader>sv :action SplitVertically<CR>
nnoremap <leader>h :action SplitHorizontally<CR>
nnoremap <leader>v :action MoveTabRight<CR>

nmap <C-j> }
nmap <C-k> {
vmap <C-j> }
vmap <C-k> {

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l


""" Editing source code
vnoremap < <gv
vnoremap > >gv
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>me :action MaximizeEditorInSplit<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>p  :action ReformatCode<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <leader>o :action OptimizeImports<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>
nnoremap gc :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gu :action FindUsages<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gh :action QuickJavaDoc<CR>
nnoremap gs :action GotoSuperMethod<CR>
nnoremap gt :action GotoTypeDeclaration<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>
"" "nnoremap <leader>s :write<CR>
""" Searching and Source Code Navigation
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'
set incsearch
nnoremap <c-/> :action FindInPath<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap <leader>sw :action SurroundWith<CR>

""" Tool windows
""" Running and Debugging
nnoremap ,d :action ContextDebug<CR>
nnoremap ,r :action ChooseRunConfiguration<CR>
nnoremap <leader>r :action Rerun<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>

nnoremap ,, :action StepOver<CR>
nnoremap ,j :action StepInto<CR>
nnoremap ,k :action StepOut<CR>
nnoremap ,l :action Resume<CR>

" Press `f` to activate AceJump
" map f <Action>(AceAction)
" Press `F` to activate Target Mode
"map F <Action>(AceTargetAction)
" Press `g` to activate Line Mode
"map g <ActiStepOveron>(AceLineAction)

""" Archived

"nnoremap <leader>s :action GotoRelated<CR>
"nnoremap <leader>h :action CallHierarchy<CR>
"nnoremap <leader>b :action ShowNavBar<CR>
